.all {
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 700px) {
    .pelican {
        width: 80%; 
        margin-bottom: 50px; 
    }
    
    .check-soon {
        font-weight: bold;
        font-size: 20pt; 
        text-align: center;
    }    
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 700px) {
    .pelican {
        width: 60%; 
        height: auto; 
        margin-bottom: 50px; 
    }
    
    .check-soon {
        font-weight: bold;
        font-size: 20pt; 
        text-align: center;
    }
    
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 1200px) {
    .pelican {
        width: 100%; 
        height: auto; 
        margin-bottom: 50px; 
    }
    
    .check-soon {
        margin-left: 100px; 
        margin-right: 100px; 
        font-weight: bold;
        font-size: 20pt; 
        text-align: center;
    }    
}